
<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
    <li>
      <%= link_to user, class: "th" do %>
        <h5 class="text-center"><%= user.username %></h5>
        <%= image_tag user.avatar.url(:thumb) %>
      <% end %>
    </li>
</ul>

