<div class="rows">
  <div class="large-3 medium-4 small-6 columns">
    <a class="th" href="#"><%= image_tag user.image %></a>
    <h6 class="panel">
      <ul class="no-bullet">
        <li><%= link_to user.username, user %></li>
        <li><%= user.email %></li>
      </ul>
    </h6>
  </div>
</div>