<div class="rows">
  <div class="large-3 medium-4 small-6 columns">
    <a class="th" href="#"><%= image_tag user.avatar.url %></a>
    <h6 class="panel">
      <ul class="no-bullet">
        <li><h4 class="text-center"><%= link_to user.username, user %></h4></li>
      </ul>
    </h6>
  </div>
</div>