<h1>Exercises</h1>

<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
  <% @exercises.each do |exercise| %>
    <li>
      <%= link_to exercise, class: "th" do %>
        <h5 class="text-center"><%= exercise.name %></h5>
        <%= image_tag exercise.exercise_image.url(:thumb) %>
      <% end %>
    </li>
  <% end %>
</ul>

