$blue: #00AEEF;

header {
  background: #333333;
  border-bottom: 4px solid $blue;
}

header .top-bar .name h1 a {
  font-weight: 700;
}

footer div .row {
  background: #333333;
  border-top: 4px solid $blue;
}

footer {
  color: white;
}
